  <div class="container">
   
<!-- 
    <div>
      <h1>Add game you like</h1>
      <form method="post" action="/games/geekapi/">
        <input type="text" name="geekId" placeholder="Geek Id number" />
        <button class="btn btn-sm btn-primary">SUBMIT</button>
      </form>
    </div> -->



    <h1>Games <%= "#{@username}" %> Likes</h1>

    
    <div class="row row-eq-height">
    <% if @games_liked %>
      <% @games_liked.each do |game| %>
      
        <div class="col-xs-6 col-sm-4 col-md-3 ">
         
            <!-- <h3 class="col col-eq-height"><%= game.name %></h3>  -->         
            <div>
              <img src=http://<%= "#{game.img_src}" %>  img data-src="holder.js/200x200" class="img-thumbnail center-block" alt="<%= game.name %>" data-holder-rendered="true" style="width: 200px; height: 200px;"/>
              <form method="post" action="/profile/deletelike">
                <input type="hidden" name="geekId" value="<%= game[:geek_id] %>" />
                <button class="btn btn-sm btn-primary">REMOVE</button>
              </form>  
            </div>
            <br />
            <!-- <div class="well well-sm row-eq-height"><%= game.description.slice(0, 200 || game.description.length) %>              
            </div> -->
        </div>        
      <% end %>
    <% end %>
    </div> 
  </div>
